@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



body {
  background-image: url("../assets/921j\ \(1\).gif");
  background-size: contain;
}

.card {
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  border: none;
  margin-top: 20px;
  opacity: 0.9;
}

.card-title {
  color: blueviolet !important;
  font-size: 1.75rem;
  font-family: 'Silkscreen', sans-serif;
  text-shadow: 3px 3px white;
}

.card-text {
  font-size: 1.25rem;
}

.map-container {
  padding: 15px;
  background: #fff;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

.btn-primary {
  font-weight: bold;
  padding: 10px 25px;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}


img[usemap] {
  border: none;
  height: auto;
  max-width: 100%;
}


#highscore-gif {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  pointer-events: none; 

}

#lowscore-gif {
  visibility: hidden;
  position: absolute;
  top: 30%;
  left: 65%;
  width: 30%;
  z-index: 3;
  pointer-events: none;
}


.game-over {
  color: red;
  font-family: 'Silkscreen', sans-serif;
  font-weight: 600;
  text-decoration: wavy;
  text-shadow: 2px 2px black;
  padding: 7px;
  background-color: rgb(252, 252, 173);
}

#cRecScore-div {
  color: purple;
  font-size: larger;
  font-family: 'Silkscreen', sans-serif;
  font-weight: 500;
}

#cRecName-div {
  color: purple;
  font-size: larger;
  font-family: 'Silkscreen', sans-serif;
  font-weight: 500;
}

#yourScore-div {
  color: rgb(73, 1, 1);
  font-size: x-large;
  font-family: 'Silkscreen', sans-serif;
  font-weight: 500;
  padding: 10px;
}

#sentence-div {
  color: rgb(29, 0, 61);
  font-size: xx-large;
  font-family: 'Silkscreen', sans-serif;
  font-weight: 500;
  padding: 10px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: 'Silkscreen', sans-serif !important;
}

.btn-success {
  font-family: 'Silkscreen', sans-serif !important;
}

.btn-danger {
  font-family: 'Silkscreen', sans-serif !important;
}

#timeout-message{
    font-family: 'Silkscreen', sans-serif !important;
    font-size: x-large !important;
}

#timer-display{
    font-family: 'Silkscreen', sans-serif !important;
    font-size: large !important;
}

#timer-display {
  font-family: 'Silkscreen', sans-serif !important;
  font-size: large !important;
}

#result-text{
      font-family: 'Silkscreen', sans-serif !important;
        font-size:xx-large !important;
}