body {
    background-color: #f4f4f4;
  }
  
  .card {
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    border: none;
    margin-top: 20px;
  }
  
  .card-title {
    color:blueviolet !important;
    font-size: 1.75rem;
  }
  
  .card-text {
    font-size: 1.25rem;
  }
  
  .map-container {
    padding: 15px;
    background: #fff;
    border-radius: 0.5rem;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    font-weight: bold;
    padding: 10px 25px;
    font-size: 1rem;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  

  img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
  }

.game-over{
  color: red;
  font-family: monospace;
  font-weight: 800;
  text-decoration: wavy;
  text-shadow: 2px 2px black;
  padding: 7px;
  background-color: rgb(252, 252, 173);
}
#cRecScore-div{
  color:purple;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

#cRecName-div {
  color: purple;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

#yourScore-div{
  color: rgb(73, 1, 1);
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding: 10px;
}

#sentence-div{
    color: rgb(29, 0, 61);
      font-size: xx-large;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 700;
      padding: 10px;
}

